<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="{% static 'ProductList.css' %}">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



</head>

<body>

    <h1 style="text-align: center;">Products List</h1>
    <br><br>

    <button onclick="AddProductPopup()">Add New Product</button>

    <table border="1">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="productslist">

        </tbody>
    </table>


    <div id="addProductModal" class="modal">
        <h3>Add New Product</h3>
        <input type="text" id="productName" placeholder="Enter product name">
        <input type="number" id="productPrice" placeholder="Enter price">
        <input type="number" id="productStock" placeholder="Enter stock">
        <input type="url" id="productImageUrl" placeholder="Enter image URL">
        <button onclick="closePopup()">Cancel</button>
        <button onclick="addProduct()">Add</button>
    </div>


    <div id="updateProductModal" class="modal">
        <h3>Update Product</h3>
        <input type="hidden" id="ProductId">
        <input type="text" id="updateProductName" placeholder="Enter product name">
        <input type="number" id="updateProductPrice" placeholder="Enter price">
        <input type="number" id="updateProductStock" placeholder="Enter stock">
        <input type="url" id="updateProductImageUrl" placeholder="Enter image URL">
        <button onclick="closeUpdatePopup()">Cancel</button>
        <button onclick="updateProduct()">Update</button>
    </div>



<script src="{% static 'ProductList.js' %}"></script>

</body>

</html>
